 <!--Topbar -->
  <div class="topbar transition">
	<div class="bars">
		<button type="button" class="btn transition" id="sidebar-toggle">
			<i class="fa fa-bars"></i>
		</button>
	</div>
	</div>

{{>sidebar}}

<div class="sidebar-overlay"></div>


	<!--Content Start-->
	<div class="content-start transition">
		<div class="container-fluid dashboard">
			<div class="content-header">
				<h1>Horarios</h1>
				<p></p>
			</div>
			
			<div class="row">

				<div class="col-md-6 col-lg-3">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-4 d-flex align-items-center">
									<i class="fas fa-inbox icon-home bg-primary text-light"></i>
								</div>
								<div class="col-8">
									<p>Seleccione la</p>
									<h5>Materia</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-3">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-4 d-flex align-items-center">
									<i class="fas fa-clipboard-list icon-home bg-success text-light"></i>
								</div>
								<div class="col-8">
									<p>Seleccione el</p>
									<h5>Maestro</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-3">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-4 d-flex align-items-center">
									<i class="fas fa-chart-bar  icon-home bg-info text-light"></i>
								</div>
								<div class="col-8">
									<p>Cuantas</p>
									<h5>Horas</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-3">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-4 d-flex align-items-center">
									<i class="fas fa-id-card  icon-home bg-warning text-light"></i>
								</div>
								<div class="col-8">
									<p>Seleccione el</p>
									<h5>Aula</h5>
								</div>
							</div>
						</div>
					</div>

				</div>
		
				
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4>Horario</h4>
						</div>
						<div class="card-body pb-4">
							<div class="recent-message d-flex px-4 py-3">
								<div class="avatar avatar-lg">
									<img src="/images/message/4.jpg">
								</div>
								<div class="name ms-4">
									<h5 class="mb-1">Nassim</h5>
									<h6 class="text-muted mb-0">4 Semestre</h6>
								</div>
							</div>
							<div class="recent-message d-flex px-4 py-3">
								<div class="avatar avatar-lg">
									<img src="/images/message/5.jpg">
								</div>
								<div class="name ms-4">
									<h5 class="mb-1">Miriam</h5>
									<h6 class="text-muted mb-0">2 Semestre</h6>
								</div>
							</div>
							<div class="recent-message d-flex px-4 py-3">
								<div class="avatar avatar-lg">
									<img src="/images/message/1.jpg">
								</div>
								<div class="name ms-4">
									<h5 class="mb-1">Manuel</h5>
									<h6 class="text-muted mb-0">8 Semestre</h6>
								</div>
							</div>
							<div class="px-4">
								<button class='btn btn-block btn-xl btn-primary font-bold mt-3'>Start
									Conversation</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4>Pagos</h4>
						</div>
						<div class="card-body"> 
						<div class="table-responsive"> 
						<table class="table table-striped">
							<thead>
							  <tr>
								<th scope="col">ID</th>
								<th scope="col">Nombre</th>
								<th scope="col">Fecha</th>
								<th scope="col">Total</th>
								<th scope="col">Status</th>
								<th scope="col">Metodo de Pago</th>
								<th scope="col">Detalles</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<th scope="row">#24138	</th>
								<td>Nassim</td>
								<td>07 Oct, 2022</td>
								<td>$400</td>
								<td><span class="text-success">Pagado</span></td>
								<td>Mastercard</td>
								<td><button class="btn btn-primary">Detalles</button></td>
							  </tr>

							  <tr>
								<th scope="row">#24138</th>
								<td>Nassim</td>
								<td>07 Oct, 2022</td>
								<td>$400</td>
								<td><span class="text-success">Pagado</span></td>
								<td>Visa</td>
								<td><button class="btn btn-primary">Detalles</button></td>
							  </tr>

							  <tr>
								<th scope="row">#24138	</th>
								<td>Messi</td>
								<td>07 Oct, 2022</td>
								<td>$400</td>
								<td><span class="text-success">Pagado</span></td>
								<td>Paypal</td>
								<td><button class="btn btn-primary">Detalles</button></td>
							  </tr>

							  <tr>
								<th scope="row">#24138	</th>
								<td>Nassim</td>
								<td>07 Oct, 2022</td>
								<td>$400</td>
								<td><span class="text-warning">Pendiente</span></td>
								<td>Visa</td>
								<td><button class="btn btn-primary">Detalles</button></td>
							  </tr>
							</tbody>
						  </table>
						  </div>
						</div>
					</div>
				</div>

		   </div>
		</div>
	</div>



